* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
}
.board-btn {
  width: 100px;
  height: 100px;
  font-size: 2rem;
}
